body {
    margin: 0px;
    background-color: #ebe9e9;
}

.nav-link {
    margin-left: 30px;
    font-size: 20px;
}

#background {
    margin-top: -100px;
    background-image: url(../taman.jpg);
    background-size: cover;
    padding-top: 111px;
    max-height: 1112px;
    height: 100vh;
    background-position: center;
}

#background .jumbotron {
    background: none;
    margin-left: 137px;
    max-width: 1000px;
    margin-top: 22px;
}

#background .jumbotron h1 {
    font-family: nexa;
    color: white;
    margin-bottom: -12px;
    font-size: 90px;
}

#background .jumbotron p {
    font-family: relaway;
    color: white;
    margin-bottom: -12px;
    margin-top: 27px;
    padding-right: 307px;
}

.kotak {
    width: 85%;
    margin: auto;
    height: 320px;
    margin-top: -50px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    overflow: hidden;
}

.kotak p {
    font-size: 22px;
    font-family: times new roman;
}

#news {
    margin-top: 31px;
    background-color: mediumpurple;
    padding-top: 43px;
    padding-bottom: 25px;
}


/*blogfoto*/

.container-blog {
    width: 1200px;
    height: 780px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
}

.kotak-blog img {
    background-position: center;
    height: 320px;
    width: 310px;
}

.my-3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #008b8b;
    padding: 10px;
    margin-top: 25px;
}

.kotak-blog {
    width: 260px;
    box-shadow: 1 2 18px rgba(0, 0, 0, 0.2);
    margin: 120px;
    width: 310px;
    height: 290px;
    background-color: #fa6f49;
}

.kotak-blog:hover {
    box-shadow: 0 0 20px rgba(250, 11, 73, 0.4);
    transition: 1s;
    background-color: black;
    color: #008b8b;
}

.kotak-blog img:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    opacity: 1;
}

.kotak-blog .konten h4 {
    padding: 12px;
    font-weight: bold;
}

.kotak-blog .konten p {
    padding: 13px;
    font-weight: 300;
}

.selengkapnya {
    padding: 5px;
}

.selengkapnya a {
    color: #fa6f49;
    text-decoration: none;
    font-weight: bold;
}

.selengkapnya a:hover {
    text-decoration: underline;
    color: blue;
}

.footer .row {
    padding: 2px;
    justify-content: center;
}

.container a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Bakery';
}

.container a:hover {
    color: pink;

}

.logo img{
    float: left;
    width:190px;
    height: auto;
}